.topBar {
  margin: 16px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.searchBar {
  flex: 1;
  background-color: #f1f1f1;
  border-radius: 16px;
  padding: 16px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.searchBar input {
  flex: 1;
  background-color: transparent;
  border: none;
  outline: none;
  font: 18px;
}
