.authPage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.authContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  padding: 32px;
  border-radius: 16px;
  background-color: #fff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.authContainer h1 {
  font-weight: 400;
}

.authContainer form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.formGroup label {
  font-size: 14px;
  font-weight: 500;
}

.formGroup input {
  width: 100%;
  padding: 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.authContainer button {
  padding: 16px;
  border-radius: 8px;
  border: none;
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

.authContainer p {
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  text-align: center;
}

.error {
  color: red;
  font-size: 14px;
  font-weight: 500;
}
